body{
    display: grid;
    font-family: "Noto Sans CJK KR", "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
    align-content: center;
    background: black;
}

.content{
    display: grid;
    width: 800px;
    padding: 30px;
    background: black;
    margin: auto;
    color: honeydew;
    grid-template-rows: 150px 80px auto;
}

.title{
    color: whitesmoke;
    font-size: 50px;
    font-weight: bold;
}

.sub-title{
    color:gray;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 10px;
}

.number-of-songs{
    font-size: 25px;
    font-weight: bolder;
}

.song-list{
    display: grid;
    row-gap: 20px;
}

.song-template{
    display: flex;
    height: 85px;
    background-color: rgb(51, 51, 51);
    border-radius: 10px;
}

img{
    width: 69px;
    height: 70px;
    margin: 8px;
    border-radius: 8px;
}

.cover{
    width: 85px;
    height: 85px;
}

.song-info{
    display: grid;
    grid-template-rows: 3fr 2fr;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.song-title{
    font-size: 30px;
    font-weight: bold;
    height: 45px;
    line-height: 45px;
    color: #c5c5c5;
}

.artist{
    font-size: 15px;
    font-weight: normal;
    color: #b1b0b0;
    height: 30px;
    line-height: 30px;
}

.more{
    display: flex;
}

.album{
    font-size: 13px;
    padding-left: 10px;
    padding-top: 9px;
    color: #797979;
}