body{
    text-align: center;
    font-family: 'D2Coding', 'Arial Narrow', Arial, sans-serif;
    align-content: center;
}


h1{
    border: 5px dotted rgba(76, 69, 165, 0.623);
    font-size: 70px;
    padding: 0;
    margin: 0 auto;
    height: auto;
    width: 30%;
}

h1 > a{text-decoration: none; color: darkslateblue;}

#selected{color: darksalmon;}

ul > li > a{color: rgba(150, 207, 57, 0.678);}

ul{margin-top: 50px;}

li{
    display: inline;
    font: outline;
    font-weight: bold;
    font-size: 35px;
    margin-left: 20px;
}
#description {color:grey; font-size: medium; text-align: center;}

img {display: block; margin: 0px auto;}